# App Environment
PORT=3000
NODE_ENV=development

# Prisma Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sistemaparqueodb?schema=public"

# Google Mail Configuration (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu-cuenta@gmail.com
MAIL_PASSWORD=tu-contraseña-de-aplicacion-google
MAIL_FROM="Sistema Parqueo SaaS" <tu-cuenta@gmail.com>
